:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  overflow-x:hidden ;
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 0.3rem;
}

.header-content {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon {
    height: 2.3rem;
    width: 1.9rem;
}
.logo-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    
    display: none;
    gap: 1.2rem;
}
@media (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125ren;
    font-weight: 600;
    transition: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
}
@media (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
   
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.1rem;
    
}
@media (max-width:768px) {
    .menu-button{
        display: block;
    }
}
.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.main-section {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem;
}

.content-left{
    text-align: center;
    animation: slideFromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
    max-width: 900px;
    text-align: center;
    
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.1rem;
}
.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    border: none;
    border-radius: 1.2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .section-description{
        text-align: left;
    }
    .button-group{
        justify-content: start;
        padding: 0;
    }
    .section-label{
        font-size: 0.8rem;
    }
    .image-container{
        height: 65vh;
    }

    .section-title{
        font-size: 2.8rem;
    }
    .section-description{
        font-size: 1rem;
        color: var(--gray);
        width: 78%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromleft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.75rem;
    padding: 0.5rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2.2rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    border-radius: 0.3rem;
    height: 1.5rem;
}
.logo-text{
    font-size: 1rem;
}

@media (min-width:690px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }   
    .company-title{
        font-size: 2rem;
        font-weight: bold;
    } 
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
    
}

.feature-content{
    max-width: 750px;
    padding: 0 2rem;
    margin: 0 auto;
}

.main-title{
    font-size: 2.2rem;
}

.main-description{
    color: var(--gray);
    padding: 1rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 1.1rem;
    
}
@media (max-width:768px){
    .feature-grid{
        display: flex;
        flex-direction: column;
    }
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}

.feature-title{
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.feature-description{
    color: var(--background-color);
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #ff6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

.test-container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 980px;
    margin: 0 auto;
}

.test-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}
.test-title{
    font-size: 0.875rem;
    font-weight: bold;
}
.test-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    grid-gap:1.2rem;
}
.test-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(121, 112, 112);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-card:hover{
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: blue;
}

.test-info{
    font-size: 0.875rem;
    color: #555;
}

.person-image{
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%; 
}

.test-person-name{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 1rem;
    color: var(--primary-color);
}
.name-desc{
    font-size: 0.875rem;
    color: #777;
}

.newsletter-container{
    background-color: var(--background-color);
    max-width: 980px;
    height: 45vh;
    margin: 0 auto;
}

.newsletter-content{
    background-color: var(--light-gray);
    display: flex;
    height: 100%;
    border-radius: 8px;
}

.news-left{
    width: 50%;
    display: none;
    height: 100%;
    overflow: hidden;
}

.news-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.news-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    gap: 1rem;
    width: 98%;
}
@media (min-width:640px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}

@media (max-width:790px) {
    .news-left{
        width: 30%;
    }
    .news-right{
        width: 70%;
    }
}

.news-info{
    padding: 0 2.5rem;
}
.news-title{
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}
@media (min-width:640px) {
    .news-title{
        font-size: 1.5rem;
    }
}
.news-desc{
    text-align: left;
    color: #777;
}

.news-form{
    padding: 0 2.5rem;
    gap: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.news-email{
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.news-send-button{
    color: var(--background-color);
    padding: 0.1rem 0.8rem;
    background-color: blue;
    border-radius: 4px;
    border: none;
}

.footer-container{
    max-width: 980px;
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.footer{
    max-width: 980px;
    text-align: left;
    display: flex;
    padding: 1.2rem 2.4rem;
    justify-content: space-between;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}
.comp-logo{
    display: flex;
    flex-direction: column;
}

.logo-link{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}
.logo-svg{
    height: 1.75rem;
    width: 1.75rem;
}

.filler-text{
    color: #777;
    margin-bottom: 1rem;
}

.social{
    display: flex;
    gap: 0.8rem;
}

.social-icons{
    height: 1.5rem;
    width: 1.5rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    grid-gap: 3rem;
    padding: 1.2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.2rem;
}

ul{
    list-style: none;
}

.footer-links-list{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.footer-link{
    color: #777;
}

.footer-copyright{
    color: var(--gray);
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
    font-size: 0.75rem;
}

@media (max-width:960px) {
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footer-top{
        padding-left: 5rem;
    } 

}

@media (max-width:850px) {

    .footer-top{
        padding-left:1rem ;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:530px) {
    .logo-link{
        font-size: 0.9rem;
    }
    .logo-svg{
        height: 1rem;
        width: 1rem;
    }
    .logo-text{
        font-family: 0.9rem;
    }
    .logo-title{
        font-size: 0.875rem;
    }
    .social-icons{
        height: 0.9rem;
        width: 0.9rem;
    }
    .footer{
        align-items: flex-start;
    }
    .footer-grid{
        grid-gap: 1rem;
    }
    .footer-grid-heading{
        font-size: 0.85rem;
    }
    .footer-link{
        font-size: 0.55rem;
    }
}
